<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--	<title>Recording Complete</title>-->
<!--</head>-->
<!--<body>-->
<!--	<h1>Recording Complete</h1>-->
<!--	<p>Your audio has been recorded and saved as a WAV file{{sound}}.</p>-->
<!--	<center>-->
<!-- <h2>The classification of the music is{{predictedlabel}}</h2>-->
<!--<audio controls>-->
<!--  <source src={{sound}} type="audio">-->

<!--Your browser does not support the audio element.-->
<!--</audio>-->
<!--</center>-->
<!--<a href="{% url 'play_audio' %}">Download Audio</a>-->
<!--</body>-->
<!--</html>-->
